body
{ font-family: Georgia, serif;
  background: rgb(102, 119, 153);
}

#quote, #author
{ color: rgb(102, 119, 153);
}

#btnQuote
{ background-color: rgb(102, 119, 153);
  border: 0;
  border-radius: 4%;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin-right: 6px;
  margin-top: 6px;
  outline: 0;
  text-align: center;
  width: 104px;
  
  // Text select off
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#btnTwitterButton
{ background-color: rgb(102, 119, 153);
  border: 0;
  border-radius: 4%;
  color: #fff;
  float: right;
  height: 40px;
  line-height: 44px;
  margin-right: 6px;
  margin-top: 6px;
  outline: 0;
  text-align: center;
  width: 40px;
}

#btnTwitterAnchor
{ margin-top: 60px;
}
